//= require default
//= require formate
//= require evolution

$azul: #a5c2e1;

.verde { color: #0f0; }
.rojo { color: #f00; }
.violeta { color: #C6F; }

.planeta { width: 50px; height: 50px; }
.planeta-mini { width: 30px; height: 30px; }

.seleccionar select { min-width: 150px; }

.muted { color: #999; }

a.button { border: 1px #415680 solid; display: inline-block; font-size: 11px; font-family: Tahoma,sans-serif; padding: 1px 6px; font-weight: normal; color: #E6EBFB; }
a.button:hover { text-decoration: none; }

td.k { min-width: 50px; }
